{% extends 'shop/basic.html' %}
{% block body %}



<div class="container">
  <div class="row">

      <h3 class="pb-4 mb-4 font-italic border-bottom">
        {{dox.title}}
      </h3>
      
      <article class="blog-post">
        <!-- <h2 class="blog-post-title">{{dox.head0}}</h2> -->
        <p class="blog-post-meta">{{dox.pub_date}} <a href="#"></a></p>
        <hr>
        <p><b><h5>{{dox.head0}}</h5></b></p>
        <img width="400px" style="block:inline"  id="imgs" src="/media/{{dox.thumbnail}}">
        <p>{{dox.chead0}}</p>
        <div class="fb-like" data-href="http://127.0.0.1:8000/blog/blogpost/{{dox_post_id}}/" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="true"></div>
        </div>
        <hr>
        <p><b><h5>{{dox.head1}}</h5></b></p>
        <p>{{dox.chead1}}</p>
        </article>
        <div class="fb-comments" data-href="http://127.0.0.1:8000/blog/blogpost/{{dox.post_id}}/" data-width="" data-numposts="5"></div>
        




</div>

{% endblock %}

